---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";

const pageTitle = "Noticias";
const allPosts = await getCollection("noticias");
---
<BaseLayout pageTitle={pageTitle}>
  <p>Esta es la sección dedicada a las noticias.</p>
  <ul>
    {allPosts.map((post) => (
      <BlogPost
        url={`/noticias/${post.slug}/`}
        title={post.data.title}
        description={post.data.description}
      />
    ))}
  </ul>
</BaseLayout>
