---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <article class="post">

    <img class="post-thumbnail" src={frontmatter.thumbnail} alt={frontmatter.title} />

    <p class="post-description"><em>{frontmatter.description}</em></p>

    <div class="post-body">
      <slot />
    </div>
  </article>

  <style>
    .post {
      display: flex;
      flex-direction: column;
      align-items: left;
      text-align: left;
      max-width: 800px;
      margin: 0 auto;
    }

    .post-title {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    .post-thumbnail {
      max-width: 60%;
      height: auto;
      border-radius: 8px;
      margin-bottom: 1rem;
    }

    .post-description {
      font-size: 1.2rem;
      color: #555;
      margin-bottom: 1.5rem;
    }

    .post-body {
      text-align: left;
      width: 100%;
    }
    
    .post-body p {
      margin-bottom: 1rem; /* Ensures spacing between paragraphs */
    }
  </style>
</BaseLayout>